.product__container {
    display: flex;
    gap: 15px;
    margin-top: 50px;
}

.wrapper-product {
    cursor: pointer;
}

.title__product {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.wrapper__scroll-img-product {
    overflow: hidden;
}

.wrapper__img-product {
    max-width: 300px;
    display: flex;
    position: relative;
    transition: all 0.5s;
    left: 0;
}

.wrapper__img-product img {
    width: 100%;
}